.post {
    width: 100%;
    height: auto;
    border: 1px solid #234465;
    margin-bottom: 3%;
    border-radius: 4px;
}
  
.description {
  word-wrap: break-word;
  padding: 0.5%;
  font-style: italic;
  margin-bottom: 0.5%;
  width: 95%;
  height: auto;
  display: inline-block;
  vertical-align: top;
}

.author {
  text-decoration: underline;
  font-weight: bold;
  text-align: right;
  padding-right: 1%;
  padding-bottom: 1%;
}

.author small {
  font-weight: normal;
}

.logo {
  width: 32px;
  height: 32px;
}