.post {
    width: 100%;
    height: auto;
    border: 1px solid #234465;
    margin-bottom: 3%;
    border-radius: 4px;
}
  
.description {
  padding: 1% 1% 0;
  font-style: italic;
  text-align: justify;
}

.author {
  text-decoration: underline;
  font-weight: bold;
  text-align: right;
  padding: 0 1% 1% 1%;
}

.author small {
  font-weight: normal;
}

.logo {
  padding: 1%;
  float: left;
  width: 32px;
  height: 32px;
}