/* header navigation */

.nav-link {
  color: white;
  text-decoration: none;
}

.nav-list-item {
  display: inline-block;
  cursor: pointer;
  padding: 10px;
  margin: 20px;
  border-top: 2px solid #ffa000;
}

.nav-list-item:hover {
  border-top: none;
  border-bottom: 2px solid #ffa000;
}

/* footer */

.footer-link {
  color: #234465;
  text-decoration: none;
}

.footer-list-item {
  display: inline-block;
  cursor: pointer;
  margin: 20px;
  vertical-align: middle;
  border-bottom: 2px solid #234465;
}

.footer-list-item:hover {
  border-bottom: none;
  border-top: 2px solid #234465;
}

/* side bar */

.aside-link {
  color: #234465;
  text-decoration: none;
}

.aside-list-item {
  display: block;
  border-left: 2px solid #234465;
  border-right: 2px solid #234465;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  margin-bottom: 10px;
  padding-top: 10px;
  height: 5vh;
  text-align: center;
}


.aside-list-item:hover {
  border-left: 2px solid white;
  border-right: 2px solid white;
  border-top: 2px solid #234465;
  border-bottom: 2px solid #234465;
}